<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "base.html" -->
{% extends "base.html" %}

<!-- Defined a block named "title" and set the title of the page to Login -->
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
  <h3 style="text-align: center;">Login</h3>
  <div class="form-group">
    <label for="email">Email Address</label>
    <input
      type="text"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
    >
    <!-- Input field for entering the user's email -->

    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Enter Password"
    >
    <!-- Input field for entering the user's password -->

    <br>
    <div style="text-align: center;">
      <!-- Align the button in the center -->
      <button class="btn btn-primary" type="submit">Login</button>
      <!-- Submit button to initiate the login process -->
    </div>
  </div>
</form>
{% endblock %}
</html>
