<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "posts_div.html" -->
{% extends "posts_div.html" %}

<!-- Defined a block named "title" and set the title of the page to the username followed by "'s Posts" -->
{% block title %}{{ username }}'s Posts{% endblock %}

<!-- Defined a block named "header" and set the header content to the username followed by "'s posts" -->
{% block header %} {{ username }}'s posts {% endblock %}

<!-- Defined a block named "footer" -->
{% block footer %}
<div style="text-align: center;">
    <!-- Back button to return to the home page -->
    <a href="/home" class="btn btn-primary btn-lg">Back</a>
</div>
{% endblock %}
