<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "base.html" -->
{% extends "base.html" %} 

<!-- Defined a block named "title" and set the title of the page to Home -->
{% block title %}Home{% endblock %} 

{% block content %}
<!-- Display the header for the page using a block -->
<h1 class="text-center">
  <!-- Defined a block named "header" and set the header content to "Posts" -->
  {% block header %}Posts{% endblock %}
</h1>
<div id="posts">
  {% for post in posts %}
  <div class="card border-dark">
    <!-- Display user profile picture in a rounded circle -->
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/'+ post.user.image_file) }}" alt="Profile Picture">
    <div class="card-header d-flex justify-content-between align-items-center" style="font-weight: 500;">
      <!-- Display the post author's username and handle like/unlike buttons -->
      <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
      <div>
        <!-- Display the like count and handle like/unlike buttons -->
        <span id="likes-count-{{post.id}}">
          {{ post.likes|length }}
        </span> 
        {% if user.id in post.likes|map(attribute="author")|list %}
        <!-- Display filled thumbs-up icon if user has liked the post, otherwise outline icon -->
        <i class="fas fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% else %}
        <i class="far fa-thumbs-up" id="like-button-{{post.id}}" onclick="like({{post.id}})"></i>
        {% endif %}
        <!-- Display delete and update options for post author -->
        {% if user.id == post.author %}
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu">
            <!-- Dropdown menu with options to delete or update the post -->
            <li><a href="/delete-post/{{post.id}}" class="dropdown-item" style="font-weight: 500;">Delete</a></li>
            <li><a href="/update-post/{{post.id}}" class="dropdown-item" style="font-weight: 500;">Update</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="card-body" style="font-weight: 500;">
      <!-- Display post title and text -->
      <div class="card-text post-title">{{post.title}}</div>
      <br>
      <div class="card-text">{{post.text}}</div>
      <br>
      <div class="collapse" id="comments-{{post.id}}">
        <div class="card">
          <div class="card-body" id="comments-expanded-{{post.id}}">
            {% for comment in post.comments %}
            <!-- Display comments for the post -->
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <!-- Display comment author's username and comment text -->
                <a href="/posts/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.text}}
              </div>
              <div>
                <!-- Display comment date and delete option for comment author and post author -->
                <small class="text-muted">{{comment.date_created}}</small>
                {% if user.id == comment.author or user.id == post.author %}
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                  <ul class="dropdown-menu">
                    <!-- Dropdown menu option to delete the comment -->
                    <li><a href="/delete-comment/{{comment.id}}" class="dropdown-item">Delete</a></li>
                  </ul>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <p class="card-text">
        <!-- Display a link to view comments or "No Comments" if none -->
        {% if post.comments|length > 0 %}
        <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
          <small>View {{post.comments|length}} Comments</small>
        </a>
        {% else %}
        <small class="text-muted" style="font-weight: 500;">No Comments</small>
        {% endif %}
      </p>
      <!-- Form to create a new comment -->
      <form class="input-group mb-3" method="POST" action="{{ url_for('views.create_comment', post_id=post.id) }}">
        <input type="text" id="text" name="text" class="form-control" style="font-weight: 500;" placeholder="Comment something!">
        <button type="submit" class="btn btn-primary" style="font-weight: 500;">Comment</button>
      </form>
    </div>
    <!-- Display the post's date of creation in the footer -->
    <div class="card-footer text-muted" style="font-weight: 500;">{{post.date_created}}</div>
  </div>
  <br>
  {% endfor %}
</div>

<!-- Pagination links -->
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
  {% if posts.page == page_num %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('views.blog', page=page_num)}}">{{ page_num }}</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ url_for('views.blog', page=page_num)}}">{{ page_num }}</a>
  {% endif %}
{% else %}
  ...
{% endif %}
{% endfor %}

<!-- Defined a block named "footer" and added a button to create a new post -->
{% block footer %}
<div class="text-center">
  <a href="/create-post" class="btn btn-primary btn-lg">Create a Post</a>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %} 

{% endblock %}
<!-- End of content block -->
</html>
