{% extends "base.html" %} {% block title %}Subjects{% endblock %} {% block content
    %}
  



<div container>
  <h1> Subjects </h1>
  <!-- Carousel -->
 <div id="demo" class="carousel slide" data-ride="carousel">
    
  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static/images/sac1.jpg" alt="Vaporeon">
   
    </div>

  <!-- Image 2 on Carousel-->
    <div class="carousel-item">
      <img src="static/images/maths.png" alt="Mewtwo">
      
    </div>
    
   <!-- Image 3 on Carousel-->
    <div class="carousel-item">
      <img src="static/images/science.jpeg" alt="Pikachu">
      


  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
</div>


<hr> 





  <!-- Call to Action-->
  <div class="card text-black my-5 py-4 text-center" style="background-color: #98fb98;">
    <div class="card-body"><p class="text-black m-0"> Welcome to the world of learning and academic growth! At school, subjects form the foundation of education, offering a diverse range of knowledge and skills. From mathematics to science, English, and beyond, each subject contributes to shaping a well-rounded student.

      However, we understand that mastering these subjects can be a challenge for many students. This is where Academify comes in to revolutionize the learning experience. Our innovative online learning tool is designed to empower students in excelling at each subject.
      
      Mathematics, often considered daunting, becomes a playground of discovery with Academify's interactive lessons and engaging exercises. We break down complex concepts into digestible modules, ensuring students grasp even the most intricate details.
      
      Science, the realm of curiosity, turns into a hands-on adventure. Our virtual labs and simulations provide a safe space for exploration, allowing students to conduct experiments and unravel the mysteries of the natural world.
      
      English, the language of expression, becomes a canvas for creativity. Through personalized writing prompts, grammar quizzes, and reading materials, Academify enhances language skills, helping students articulate their thoughts with confidence.
      
      No matter the subject, Academify's gamification approach makes learning enjoyable and immersive. Earn rewards, challenge friends, and track progress as you journey through your academic pursuits. Our mentors are always ready to guide you, providing assistance whenever you hit a roadblock.
      
      Join us at Academify and unlock your full potential in every subject. From acing exams to igniting a lifelong love for learning, we're here to support you every step of the way. Embrace the power of education, explore the depths of subjects, and excel with Academify!
      
      
      
      
      </p></div>
</div>

<!-- Line code-->
<hr class="line1">
<br>

      <!-- Code for this button -->
      <button onclick="topFunction()" id="myBtn" title="Go to top"> &#8593; </button>
  
      <script>
      //Get the button
      var mybutton = document.getElementById("myBtn");
      
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};
      
      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      
      
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
      </script>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="static/images/mathss.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Mathematics </h5>
        <p class="card-text"> Mathematics is the science and study of quality, structure, space, and change. 
          Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from appropriately chosen axioms and definitions. 
          Year 7 to 13 Mathematics standards avaliable below!</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="years"> Standards</a></div>  
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/images/chemistry.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Chemistry</h5>
        <p class="card-text">Chemistry is a branch of natural science that deals principally with the properties of substances, 
          the changes they undergo, and the natural laws that describe these changes.
          Year 7 to 13 Science standards avaliable below!</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Standards </a></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/images/english.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> English </h5>
        <p class="card-text">English Language is the in-depth study of written and verbal communication in English. It explores the building blocks of the language, covering aspects such as phonetics, semantics and pragmatics. 
          If you're interested in the nuts and bolts of the language, this just might be the subject for you!
          Year 7 to 13 English standards avaliable below! </p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Standards </a></div>
    </div>
  </div>
</div> 

<!-- Line code-->
<hr class="line1">
<br>

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="static/images/re.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Religious Education </h5>
        <p class="card-text">Religious Education (RE) is a subject taught at primary and secondary levels 
          that aims to develop children's understanding of the world's religions. 
          Through religious education, children will learn about different religions and their traditions, 
          practices and beliefs.</p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Standards</a></div>  
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/images/dtg.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Digital Technologies </h5>
        <p class="card-text">The definition of digital technology refers to digital devices, systems, 
          and resources that help create, store, and manage data. 
          An important aspect of digital technology is information technology (IT) 
          which refers to the use of computers to process data and information.
        </p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Standards </a></div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="static/images/physics.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"> Physics</h5>
        <p class="card-text"> Physics is the natural science of matter, involving the study of matter, 
          its fundamental constituents, its motion and behavior through space and time, 
          and the related entities of energy and force. </p>
      </div>
      <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Standards </a></div>
    </div>
  </div>
</div> 

<!-- Line code-->
<hr class="line1">
<br>

<div align="center" style="margin-bottom: 20px;">
    <a href="/home">
    <button type="button" class="btn btn-primary btn-lg">Back</button></a>
  </div>


  <!-- Footer-->
  <footer class="py-5 bg-green">
    <div class="footer"><p class="m-0 text-center text-white">Copyright &copy; Academify 2023</p></div>
  </footer>

{% endblock %}