<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "base.html" -->
{% extends "base.html" %}
<!-- Defined a block named "title" and set the title of the page to Physics Years -->
{% block title %} Physics Years {% endblock %}{% block content %}
<div container>
    <h1> Choose Your Physics Year Level </h1>
</div>

<!-- Card layout for Year 8, Year 9, and Year 10 Physics -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for Year 8 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year8.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 8 Physics </h5>
                <p class="card-text"> In Year 8, students begin exploring fundamental 
                    concepts in Physics. They engage with topics such as energy, forces, and 
                    motion, laying the groundwork for more advanced understanding in subsequent years.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 24 mins ago</small>
            </div>
            <!-- Link to Year 8 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year8_phy"> Year 8 </a></div>
        </div>
    </div>
    <!-- Card for Year 9 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year9.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 9 Physics </h5>
                <p class="card-text"> During Years 9 and 10, students build on 
                    their foundational knowledge and delve deeper into Physics. 
                    They study areas such as electricity, magnetism, waves, and atomic 
                    structure. Hands-on experiments and practical applications help 
                    students develop critical thinking and problem-solving skills.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 39 mins ago</small>
            </div>
            <!-- Link to Year 9 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year9_phy"> Year 9</a></div>
        </div>
    </div>
    <!-- Card for Year 10 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year10.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 10 Physics </h5>
                <p class="card-text"> During Years 9 and 10, students build on 
                    their foundational knowledge and delve deeper into Physics. 
                    They study areas such as electricity, magnetism, waves, and atomic 
                    structure. Hands-on experiments and practical applications help 
                    students develop critical thinking and problem-solving skills.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
            </div>
            <!-- Link to Year 10 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year10_phy"> Year 10 </a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Card layout for NCEA Level 1, NCEA Level 2, and NCEA Level 3 Physics -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for NCEA Level 1 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year11.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 1 Physics </h5>
                <p class="card-text"> NCEA Level 1 Physics introduces students
                    to more specialized Physics concepts. They study topics like 
                    mechanics, waves, and electricity, often involving quantitative 
                    analysis and experimentation. Students learn to apply scientific 
                    principles to real-world scenarios.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 42 mins ago</small>
            </div>
            <!-- Link to NCEA Level 1 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year11_phy"> NCEA Level 1</a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 2 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year12.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 2 Physics </h5>
                <p class="card-text"> At NCEA Level 2, students further deepen their 
                    understanding of Physics concepts. They explore areas such as kinematics, 
                    electromagnetism, and atomic physics. Students may also engage in practical 
                    investigations, data analysis, and problem-solving tasks.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 37 mins ago</small>
            </div>
            <!-- Link to NCEA Level 2 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year12_phy"> NCEA Level 2 </a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 3 Physics -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year13.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 3 Physics </h5>
                <p class="card-text"> NCEA Level 3 Physics represents the pinnacle of secondary 
                    school Physics education. Students delve into advanced topics such as modern 
                    physics, nuclear reactions, and quantum mechanics. They may undertake complex 
                    experiments, conduct research, and explore the frontiers of scientific knowledge.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 20 mins ago</small>
            </div>
            <!-- Link to NCEA Level 3 Physics content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year13_phy"> NCEA Level 3</a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Back button -->
<div align="center" style="margin-bottom: 20px;">
    <a href="/subjects">
        <button type="button" class="btn btn-primary btn-lg">Back</button>
    </a>
</div>

{% endblock %}
