<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "base.html" -->
{% extends "base.html" %}
<!-- Defined a block named "title" and set the title of the page to Chemistry Years -->
{% block title %} Chemistry Years {% endblock %}{% block content %}
<div container>
    <h1> Choose Your Chemistry Year Level </h1>
</div>

<!-- Card layout for Year 8, Year 9, and Year 10 Chemistry -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for Year 8 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year8.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 8 Chemistry</h5>
                <p class="card-text"> In the New Zealand Year 8 chemistry curriculum, designed for students
                    aged 12-13, students explore foundational concepts such as states of matter, atoms, chemical reactions,
                    and acids and bases. They learn about material properties, mixtures, and basic environmental chemistry,
                    while also developing laboratory skills and safety awareness. The curriculum aims to engage students in
                    hands-on learning, critical thinking, and applying scientific concepts to real-life scenarios.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 24 mins ago</small>
            </div>
            <!-- Link to Year 8 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year8_chem"> Year 8 </a></div>
        </div>
    </div>
    <!-- Card for Year 9 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year9.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 9 Chemistry</h5>
                <p class="card-text">In Year 9, students (aged 13-14) explore deeper aspects of
                    chemistry, including atomic structure, chemical bonding, reactions, and the periodic
                    table. They learn about acids, bases, and energy changes in reactions while honing
                    practical lab skills.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 39 mins ago</small>
            </div>
            <!-- Link to Year 9 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year9_chem"> Year 9</a></div>
        </div>
    </div>
    <!-- Card for Year 10 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year10.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 10 Chemistry </h5>
                <p class="card-text">For Year 10 (around 14-15 years old), students study organic
                    chemistry, complex reactions, stoichiometry, and equilibrium. They delve into
                    environmental chemistry, considering issues like greenhouse gases and sustainable
                    practices. The curriculum aims to prepare students for advanced studies while emphasizing
                    critical thinking and real-world applications.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
            </div>
            <!-- Link to Year 10 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year10_chem"> Year 10 </a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Card layout for NCEA Level 1, NCEA Level 2, and NCEA Level 3 Chemistry -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for NCEA Level 1 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year11.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 1 Chemistry </h5>
                <p class="card-text">At NCEA Level 1, typically for students around 15 years old,
                    the chemistry curriculum introduces fundamental concepts such as atomic structure,
                    chemical reactions, and the periodic table. Students explore stoichiometry, balancing
                    equations, and the properties of acids and bases. Laboratory skills, safety, and experimental
                    design are emphasized, and students apply their knowledge to real-world contexts.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 42 mins ago</small>
            </div>
            <!-- Link to NCEA Level 1 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year11_chem"> NCEA Level 1</a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 2 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year12.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 2 Chemistry </h5>
                <p class="card-text">For NCEA Level 2 (usually for students around 16 years old),
                    the curriculum delves deeper into chemical concepts. Students study organic chemistry,
                    including hydrocarbons and functional groups, as well as equilibrium, oxidation-reduction
                    reactions, and redox chemistry. More complex reactions, rates of reactions, and factors
                    influencing reactions are explored, and students engage in practical experiments and analysis.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 37 mins ago</small>
            </div>
            <!-- Link to NCEA Level 2 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year12_chem"> NCEA Level 2 </a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 3 Chemistry -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year13.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 3 Chemistry </h5>
                <p class="card-text">At NCEA Level 3 (typically for students around 17 years old),
                    the chemistry curriculum becomes more advanced. Students study advanced organic chemistry,
                    complex reaction mechanisms, and the principles of thermodynamics. Topics such as electrochemistry,
                    coordination compounds, and biochemistry might also be covered.
                    The curriculum focuses on developing a deep understanding of chemical principles and their applications.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 20 mins ago</small>
            </div>
            <!-- Link to NCEA Level 3 Chemistry content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year13_chem"> NCEA Level 3</a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Back button -->
<div align="center" style="margin-bottom: 20px;">
    <a href="/subjects">
        <button type="button" class="btn btn-primary btn-lg">Back</button>
    </a>
</div>


{% endblock %}
