{% extends "base.html" %}
{% block title %} Math Years {% endblock %}
{% block content %}


<div container>
    <h1> Choose Your Math Year Level </h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Year 8 Maths</h5>
          <p class="card-text"> Year 8 you  will continue to learn to solve realistic problems 
            using your growing understanding of numbers, algebra (symbols), geometry (shapes), measurement 
            and statistics. You'll be able to use multiplication strategies to solve problems using 
            fractions, decimals and percentages.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 24 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year8_maths"> Year 8 </a></div>  
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year9.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Year 9 Maths</h5>
          <p class="card-text">The Year 9 Maths curriculum includes the 
            proficiency strands understanding, fluency, problem solving and reasoning, 
            which are taught through three content strands: number and algebra, measurement and
             geometry, and statistics and probability.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 39 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year9_maths"> Year 9</a></div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year10.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Year 10 Maths </h5>
          <p class="card-text">Year 10 maths mainly focuses on quadratic equations, trigonometry,
             advanced trigonometry, functions, statistics, etc. Year 10 maths is very important for 
             students as they are going to consolidate what they have learned in the previous two years 
             and improve their knowledge by learning advanced concepts. </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 12 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year10_maths"> Year 10 </a></div>
      </div>
    </div>
  </div> 
  
  <!-- Line code-->
  <hr class="line1">
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year11.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> NCEA Level 1 Mathematics </h5>
          <p class="card-text">The New Zealand NCEA (National Certificate of Educational Achievement) 
            Level 1 math curriculum typically includes concepts like algebra, geometry, statistics, and 
            measurement. Students at this level might learn about equations, graphs, shapes, basic
             statistical analysis, and applying math to real-world situations. The curriculum serves as
              a foundation for more advanced math learning in higher NCEA levels.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 42 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year11_maths"> NCEA Level 1</a></div>  
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year12.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> NCEA Level 2 Mathematics </h5>
          <p class="card-text">At Level 2, students often delve deeper into algebraic concepts, 
            trigonometry, calculus, and statistics. They may explore quadratic equations, graphs, 
            trigonometric functions, differentiation, integration, and probability. The curriculum 
            aims to provide a well-rounded understanding of various mathematical principles and their applications.

          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 37 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year12_maths"> NCEA Level 2 </a></div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/year13.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> NCEA Level 3 Mathematics </h5>
          <p class="card-text">Level 3 builds on the concepts from Level 2 
            and may cover more advanced topics such as complex numbers, further 
            calculus techniques, matrices, and advanced statistical analysis. 
            Students often have the option to choose specialized paths within math, 
            such as calculus or statistics, based on their interests and future goals. 
            The curriculum emphasizes analytical thinking and problem-solving skills.

          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 20 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="year13_maths"> NCEA Level 3</a></div>
      </div>
    </div>
  </div> 
  
  <!-- Line code-->
  <hr class="line1">
  <br>
  
  <div align="center" style="margin-bottom: 20px;">
      <a href="/subjects">
      <button type="button" class="btn btn-primary btn-lg">Back</button></a>
    </div>
  
  
    <!-- Footer-->
    <footer class="py-5 bg-green">
      <div class="footer"><p class="m-0 text-center text-white">Copyright &copy; Academify 2023</p></div>
    </footer>




{% endblock %}