<!DOCTYPE html>
<html lang="en">
<!-- Extends another file named "base.html" -->
{% extends "base.html" %}
<!-- Defined a block named "title" and set the title of the page to Religious Education Years -->
{% block title %} Religious Education Years {% endblock %}{% block content %}
<div container>
    <h1> Choose Your Religious Education Year Level </h1>
</div>

<!-- Card layout for Year 8, Year 9, and Year 10 Religious Education -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for Year 8 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year8.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 8 Religious Education </h5>
                <p class="card-text">In Year 8 Religious Education, students 
                    explore foundational concepts of various world religions, 
                    including Christianity, Islam, Buddhism, and Hinduism. 
                    They learn about key beliefs, practices, and historical 
                    figures in these religions, fostering an understanding of diverse cultural 
                    and spiritual perspectives.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 24 mins ago</small>
            </div>
            <!-- Link to Year 8 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year8_re"> Year 8 </a></div>
        </div>
    </div>
    <!-- Card for Year 9 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year9.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 9 Religious Education </h5>
                <p class="card-text">Years 9 and 10 Religious Education builds on the foundational 
                    knowledge from earlier years. Students delve deeper into the study of major world 
                    religions, examining their historical contexts, ethical teachings, and contributions
                    to society. They also engage in discussions about contemporary ethical issues and
                    explore the role of religion in shaping global events.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 39 mins ago</small>
            </div>
            <!-- Link to Year 9 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year9_re"> Year 9</a></div>
        </div>
    </div>
    <!-- Card for Year 10 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year10.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> Year 10 Religious Education </h5>
                <p class="card-text">Years 9 and 10 Religious Education builds on the foundational 
                    knowledge from earlier years. Students delve deeper into the study of major world 
                    religions, examining their historical contexts, ethical teachings, and contributions
                    to society. They also engage in discussions about contemporary ethical issues and
                    explore the role of religion in shaping global events.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 12 mins ago</small>
            </div>
            <!-- Link to Year 10 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year10_re"> Year 10 </a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Card layout for NCEA Level 1, NCEA Level 2, and NCEA Level 3 Religious Education -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- Card for NCEA Level 1 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year11.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 1 Religious Education </h5>
                <p class="card-text">NCEA Level 1 Religious Studies introduces students to the academic 
                    study of religion. They explore the origins and significance of different religious beliefs 
                    and practices, as well as their impact on individuals and communities. Students may also
                    analyze religious texts, rituals, and ethical dilemmas to develop critical thinking skills.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 42 mins ago</small>
            </div>
            <!-- Link to NCEA Level 1 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year11_re"> NCEA Level 1</a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 2 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year12.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 2 Religious Education </h5>
                <p class="card-text">At NCEA Level 2, students delve further into the study of 
                    religion as a cultural and social phenomenon. They examine the role of religion 
                    in shaping historical events and societal values. The course may involve analyzing 
                    religious art, literature, and philosophical writings to gain a deeper insight into
                    the complexities of faith and spirituality.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 37 mins ago</small>
            </div>
            <!-- Link to NCEA Level 2 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year12_re"> NCEA Level 2 </a></div>
        </div>
    </div>
    <!-- Card for NCEA Level 3 Religious Education -->
    <div class="col">
        <div class="card h-100">
            <img src="static/images/year13.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"> NCEA Level 3 Religious Education </h5>
                <p class="card-text">NCEA Level 3 Religious Studies offers an advanced exploration 
                    of religious themes and issues. Students critically analyze religious beliefs and 
                    practices, engaging with philosophical debates and ethical challenges. They might 
                    study religious responses to contemporary global issues, religious diversity, and 
                    the intersections of faith and identity.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 20 mins ago</small>
            </div>
            <!-- Link to NCEA Level 3 Religious Education content -->
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="year13_re"> NCEA Level 3</a></div>
        </div>
    </div>
</div>

<!-- Line code -->
<hr class="line1">
<br>

<!-- Back button -->
<div align="center" style="margin-bottom: 20px;">
    <a href="/subjects">
        <button type="button" class="btn btn-primary btn-lg">Back</button>
    </a>
</div>

<!-- Footer -->
<footer class="py-5 bg-green">
    <div class="footer"><p class="m-0 text-center text-white">Copyright &copy; Academify 2023</p></div>
</footer>
{% endblock %}
