{% extends "base.html" %}
{% block title %} Years {% endblock %}
{% block content %}


<div container>
    <h1 style="background-color: #CAFF9E;"> Choose Your Math Year Level </h1>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="static/images/mathss.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Mathematics </h5>
          <p class="card-text"> Mathematics is the science and study of quality, structure, space, and change. 
            Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from appropriately chosen axioms and definitions. 
            Year 7 to 13 Mathematics standards avaliable below!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="maths"> Year 8 </a></div>  
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/chemistry.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Chemistry </h5>
          <p class="card-text">Chemistry is a branch of natural science that deals principally with the properties of substances, 
            the changes they undergo, and the natural laws that describe these changes.
            Year 7 to 13 Science standards avaliable below!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Year 9</a></div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/english.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> English </h5>
          <p class="card-text">English Language is the in-depth study of written and verbal communication in English. It explores the building blocks of the language, covering aspects such as phonetics, semantics and pragmatics. 
            If you're interested in the nuts and bolts of the language, this just might be the subject for you!
            Year 7 to 13 English standards avaliable below! </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Year 10 </a></div>
      </div>
    </div>
  </div> 
  
  <!-- Line code-->
  <hr class="line1">
  <br>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="static/images/re.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Religious Education </h5>
          <p class="card-text"> Mathematics is the science and study of quality, structure, space, and change. 
            Mathematicians seek out patterns, formulate new conjectures, and establish truth by rigorous deduction from appropriately chosen axioms and definitions. 
            Year 7 to 13 Mathematics standards avaliable below!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Year 11</a></div>  
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/dtg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Digital Technologies </h5>
          <p class="card-text">Science is the pursuit and application of knowledge and understanding of the natural and social world following a systematic methodology based on evidence. 
            Scientific methodology includes the following: Objective observation: Measurement and data (possibly although not necessarily using mathematics as a tool).
            Year 7 to 13 Science standards avaliable below!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Year 12 </a></div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="static/images/physics.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"> Physics </h5>
          <p class="card-text">English Language is the in-depth study of written and verbal communication in English. It explores the building blocks of the language, covering aspects such as phonetics, semantics and pragmatics. 
            If you're interested in the nuts and bolts of the language, this just might be the subject for you!
            Year 7 to 13 English standards avaliable below! </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!"> Year 13 </a></div>
      </div>
    </div>
  </div> 
  
  <!-- Line code-->
  <hr class="line1">
  <br>
  
  <div align="center" style="margin-bottom: 20px;">
      <a href="/home">
      <button type="button" class="btn btn-primary btn-lg">Back</button></a>
    </div>
  
  
    <!-- Footer-->
    <footer class="py-5 bg-green">
      <div class="footer"><p class="m-0 text-center text-white">Copyright &copy; Academify 2023</p></div>
    </footer>




{% endblock %}